<!DOCTYPE html>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>detector emotion</title>
    <style>
      body { 
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #e277ff 0%, #cf81ff 50%, #ff79d9 100%);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 100%;
        min-height: 100vh;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.anychart.com/releases/8.13.0/js/anychart-base.min.js" type="text/javascript"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body class="text-bg-Light  p-3">
    <!--Навигация-->
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills rounded-4 overflow-hidden" style="background-color: #e3f2fd;">
            <li class="nav-item"><a href="" class="nav-link active" aria-current="page">С камеры</a></li>
            <li class="nav-item"><a href="file" class="nav-link">Из файла</a></li>
            <li class="nav-item"><a href="settings" class="nav-link">Настройки</a></li>
          </ul>
        </header>
      </div>
    <!--Видосы-->
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <video id="video" class="rounded" width="320" height="240"></video>
          <script>
            var audioBlob
            var audioChunks = [];
            var now_frame = 10;
            const video = document.querySelector('video')
            var stream_video = null
            var stream_audio = null
            var mediaRecorder = null
            navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream_video) {
              video.srcObject = stream_video
              video.play()

              video.addEventListener('timeupdate', async function(ev){
                await send_frame_yarppg(video)//ускоряем заполнение буффера yarppg
                if(now_frame === 10){
                  await send_frame_deepface(video)
                  now_frame=0
                }
                now_frame+=1
              })
            })
            function startRecording() {
              navigator.mediaDevices.getUserMedia({audio: true }).then(function(stream_audio) {
                mediaRecorder = new MediaRecorder(stream_audio)
                mediaRecorder.start()
                mediaRecorder.addEventListener("dataavailable", event => {
                  audioChunks.push(event.data)
                })
                mediaRecorder.onstop = async function() {
                    audioBlob = new Blob(audioChunks, { type:'audio/webm' });
                    await send_audio(audioBlob)
                    audioChunks = []
                    console.log('Аудиофайл отправлен на сервер');
                }
              })
            }


          </script>
        </div>
        <div class="col">
          <img id="server"  class="rounded"   src="" width="320" height="240" style="background-color: grey" />
          <script>
            function update_rectangle(img){
              var server_img = document.getElementById("server")
              server_img.src = img
            }
          </script>
        </div>
      </div>
    </div>

    <!--Кнопка-->
    <div class="b-example-divider"></div>
    <div class="container text-center">  
      <div class="row g-15">
        <div class="col">
            <script>
                btnStart=false
                function clickStart() {
                    if (btnStart) {
                      document.getElementById("btnStart").classList.remove('btn-secondary');
                      document.getElementById("btnStart").classList.add('btn-primary')
                      btnStart = !btnStart;
                      console.log("Конец обмена кадрами: ",btnStart)
                      mediaRecorder.stop()
                    }
                    else {
                      document.getElementById("btnStart").classList.remove('btn-primary');
                      document.getElementById("btnStart").classList.add('btn-secondary');
                      btnStart = !btnStart;
                      console.log("Начало обмена кадрами: ",btnStart)
                      startRecording()
                    }
                }

            </script>
            <button type="button" id="btnStart" class="btn btn-primary" onclick="clickStart()">Запустить</button>
        </div>
      </div>
    </div>
    <!--Отступ-->
    <table>
      <tr style="height: 100px"></tr>
    </table>
    <!--Преобладающая эмоция-->
    <div class="container text-center">  
      <p class="fw-semibold">Преобладающая эмоция:</p> <p></p>
    </div>
    

    <!--Создаем 3 графика для вывода вероятностей-->
    <div class="card rounded-4 overflow-hidden" style="height: 500px" >
      <script>
        function isEmpty(map) {
          for(var key in map) {
            if (map.hasOwnProperty(key)) {
                return false;
            }
          }
          return true;
        }
        pulse = anychart.data.set([]);
        
        function draw_chart_pulse(dota){
          if(!isEmpty(dota)){
            pulse.append(dota)
            chart_pulse.draw()
          }
        }
        function draw_charts(data){//функции для отображения данных на графике
          console.log(data)
          var series_aud = chart_aud.column(data['series_aud'])
          chart_aud.draw()

          var series_vid = chart_vid.column(data['series_vid'])
          chart_vid.draw()
          if(data['text_from_audio'] !== ''){
            document.getElementById('text').textContent = data['text_from_audio']
          }
      }   
      </script>
      <div class="row" style="height: 250px">
        <div class="col" id="chart_audio" style="height: 250px">
            <script> 
              var chart_aud = anychart.column();
              var series_aud = chart_aud.column();
              chart_aud.xAxis().title("эмоция");
              chart_aud.yAxis().title("вероятности");
              chart_aud.title("эмоция по аудио(мультимодальный подход)");
              chart_aud.container("chart_audio");
              chart_aud.draw();
            </script>
        </div>
        <div class="col" id = "chart_video" style="height: 250px">
          <script> 
            var chart_vid = anychart.column();
            var series_vid = chart_vid.column();
            chart_vid.xAxis().title("эмоция");
            chart_vid.yAxis().title("вероятности");
            chart_vid.title("эмоция по видео");
            chart_vid.container("chart_video");
            chart_vid.draw();
          </script>
        </div>   
      </div>
      <div class="row" style="height: 250px">
        <div class="col" style="max-width: 1px;"></div>        
        <div class="col ; card border-info mb-3" >
          <div class="card-header">Распознанный текст</div>
          <div class="card-body">
            <div class="container" id='body_texty'>  
              <p class="fw-semibold" id="text">Пока ничего не распознанно</p> <p></p>
            </div>
          </div>
        </div>
        <div class="col" id = "chart_puls" style="height: 250px">
          <script>
            var chart_pulse = anychart.line()
            var series_pulse = chart_pulse.line(pulse);
            chart_pulse.xAxis().title("кадр");
            chart_pulse.yAxis().title("Пульс");
            chart_pulse.container("chart_puls")
            chart_pulse.draw()
          </script>
        </div>
      </div>  
      

  </div>
  </body>    

    <!--Скрипт-->
    <script>

      async function send_audio(audio){
        const formData = new FormData();
        formData.append('audio', audio, 'audio.wav');
        var response = await fetch('/upload_audio', {
            method: 'POST',
            body:  formData //отправить аудио файл как json нельзя, json не позволяет так сделать
          });
          var resp = await response.json()
          draw_charts(resp['data'])
      }
      async function send_frame_yarppg(vidio_send){
        if(btnStart){
          var canvas = document.createElement('canvas')
          canvas.width = 320
          canvas.height = 240
          var context = canvas.getContext('2d')
          context.drawImage(vidio_send, 0, 0, 320, 240)
          var response = await fetch('/upload_frame_yarppg', {
            headers : {'Content-Type' : 'application/json'},
            method: 'POST',
            body:  JSON.stringify({'data': canvas.toDataURL('image/jpeg',0.99)})// здесть т.к. картинка закодирована можно ее отправить на сервер как json
          });//отправка данных на бекэнд через json работает лучше чем отправка без json
          var resp = await response.json()
          console.log(resp['data']) 
          draw_chart_pulse(resp['data'])
        }
      } 
      async function send_frame_deepface(vidio_send){
        if(btnStart){
          var canvas = document.createElement('canvas')
          canvas.width = 320
          canvas.height = 240
          var context = canvas.getContext('2d')
          context.drawImage(vidio_send, 0, 0, 320, 240)
          var response = await fetch('/upload_frame_deepface', {
            headers : {'Content-Type' : 'application/json'},
            method: 'POST',
            body:  JSON.stringify({'data': canvas.toDataURL('image/jpeg',0.99)})// здесть т.к. картинка закодирована можно ее отправить на сервер как json
          });//отправка данных на бекэнд через json работает лучше чем отправка без json
          var resp = await response.json()
          update_rectangle(resp['data'])
        }
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>