<!DOCTYPE html>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <!--Навигация-->
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="" class="nav-link active" aria-current="page">С камеры</a></li>
            <li class="nav-item"><a href="file" class="nav-link">Из файла</a></li>
            <li class="nav-item"><a href="settings" class="nav-link">Настройки</a></li>
          </ul>
        </header>
      </div>
    <!--Видосы-->
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <video id="video" class="rounded" width="320" height="240"></video>
        </div>
        <div class="col">
          <img id="server"  class="rounded"   src="" width="320" height="240" style="background-color: grey" />
        </div>
      </div>
    </div>

    <!--Кнопка-->
    <div class="b-example-divider"></div>
    <div class="container text-center">  

      <div class="row g-15">
        <div class="col">
          <button type="button" id="btnStart" class="btn btn-primary" onclick="clickStart()">Запустить</button>
        </div>
      </div>
    </div>

    <!--Преобладающая эмоция-->
    <div class="container text-center">  
      <p class="fw-semibold">Преобладающая эмоция:</p> <p></p>
    </div>
    
    <!--Таблицы-->
    <div class="container">
      <div class="row">
        <div class="col">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Распознавание по видео</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Злость</th>
                <td class="video-td"></td>
              </tr>
              <tr>
                <th scope="row">Брезгливость</th>
                <td class="video-td"></td>
              </tr>
              <tr>
                <th scope="row">Испуг</th>
                <td class="video-td"></td>
              </tr>
              <tr>
                <th scope="row">Радость</th>
                <td class="video-td"></td>
              </tr>
              <tr>
                <th scope="row">Печаль</th>
                <td class="video-td"></td>
              </tr>
              <tr>
                <th scope="row">Удивленность</th>
                <td class="video-td"></td>
              </tr>
              <tr>
                <th scope="row">Нейтральность</th>
                <td class="video-td"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Распознавание по интонации</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Нейтральность</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Злость</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Радость</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Печаль</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Другое</th>
                <td></td>
              </tr>
              <tr><th>ㅤ</th><td>ㅤ</td></tr>
              <tr><th>ㅤ</th><td>ㅤ</td></tr>
            </tbody>
          </table>
        </div>      
        <div class = "col">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Смысловая нагрузка</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Радость</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Нейтральность</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Печаль</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Брезгливость</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Злость</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Испуг</th>
                <td></td>
              </tr>
              <tr>
                <th scope="row">Другое</th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </body>    





    <!--Скрипт-->
    <script>
      // Grab elements, create settings, etc.
      //var video = document.createElement('video');
      var server = document.getElementById("server");
      var socket = io();
      var canvas = document.createElement('canvas')
      var btnStart = false;
      canvas.width = 320
      canvas.height = 240
      var context = canvas.getContext('2d');
      let videoSender;
      let voice;
      let mediaRecorder;
      let x = [1,2,3,4,5,6,7]
      let video_td = document.querySelectorAll('.video-td');
       
      video_td.forEach((el, i) => el.textContent = x[i]);



      // Get access to the camera!
      if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          // Not adding `{ audio: true }` since we only want video now
          //navigator.mediaDevices.getUserMedia({ video: true, audio: true }).then(function(stream) {
              navigator.mediaDevices.getUserMedia({ video: true, audio: true }).then(function(stream) {
              //video.src = window.URL.createObjectURL(stream);
              video.srcObject = stream; 
              video.play();
              mediaRecorder = new MediaRecorder(stream);               
          });
      }

      function clickStart() {
        if (btnStart) {
          document.getElementById("btnStart").classList.remove('btn-secondary');
          document.getElementById("btnStart").classList.add('btn-primary');

          //document.getElementById("btnStart").textContent = "KLAJDFJKDAHFJKAD"

          mediaRecorder.stop();
          clearInterval(videoSender);

          const voiceBlob = new Blob(voice, {
              type: 'audio/wav'
          });
          socket.emit('uploadAudio', {data: voiceBlob})
        }
        else {
          //$('#btnStart').removeClass('btn-primary').addClass('btn-success');
          document.getElementById("btnStart").classList.remove('btn-primary');
          document.getElementById("btnStart").classList.add('btn-secondary');

          videoSender = window.setInterval(function() {
                  context.drawImage(video, 0, 0, 320, 240); // better use size because camera may gives data in different size then <video> is displaying
                  socket.emit('upload', {data: canvas.toDataURL('image/jpeg',0.99)})
              }, 500);

          voice = []
          mediaRecorder.start();

          mediaRecorder.addEventListener("dataavailable",function(event) {
              voice.push(event.data);
          });
        }
        console.log(btnStart);
        btnStart = !btnStart;
        socket.emit('startRec', {data: btnStart})
      }

      socket.on('send_list', function(data) {
              console.log(data[0])
              console.log(data[1])
              console.log(data[2])
          })

      socket.on('my_response', function(data) {
              server.src = data
          });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>