<!DOCTYPE html>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.anychart.com/releases/8.13.0/js/anychart-base.min.js" type="text/javascript"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body class="text-bg-Light  p-3">
    <!--Навигация-->
    <div class="container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="" class="nav-link active" aria-current="page">С камеры</a></li>
            <li class="nav-item"><a href="file" class="nav-link">Из файла</a></li>
            <li class="nav-item"><a href="settings" class="nav-link">Настройки</a></li>
          </ul>
        </header>
      </div>
    <!--Видосы-->
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <video id="video" class="rounded" width="320" height="240"></video>
          <script>
            var audioBlob
            var audioChunks = [];
            const video = document.querySelector('video')
            var stream = null
            navigator.mediaDevices.getUserMedia({ video: true,  audio: true }).then(function(stream) {
              video.srcObject = stream
              video.play()
            })
            video.addEventListener('timeupdate', async function(ev){
              await send_frame(video)
              audioChunks = [];
            })// все что написано до для видоса
            
            function startRecording() {// для видоса
              navigator.mediaDevices.getUserMedia({ audio: true }).then(function(stream) {
                  mediaRecorder = new MediaRecorder(stream)
                  mediaRecorder.start()

                  mediaRecorder.addEventListener("dataavailable", event => {
                      audioChunks.push(event.data)
                  })

                  mediaRecorder.onstop = async function() {
                      audioBlob = new Blob(audioChunks, { type:'audio/webm' });
                      await send_audio(audioBlob)
                      console.log('Аудиофайл отправлен на сервер');
                  }
              })
            }

            


          </script>
        </div>
        <div class="col">
          <img id="server"  class="rounded"   src="" width="320" height="240" style="background-color: grey" />
          <script>
            function update_rectangle(img){
              var server_img = document.getElementById("server")
              server_img.src = img
            }
          </script>
        </div>
      </div>
    </div>

    <!--Кнопка-->
    <div class="b-example-divider"></div>
    <div class="container text-center">  
      <div class="row g-15">
        <div class="col">
            <script>
                function clickStart() {
                    if (btnStart) {
                      document.getElementById("btnStart").classList.remove('btn-secondary');
                      document.getElementById("btnStart").classList.add('btn-primary')
                      btnStart = !btnStart;
                      console.log("Конец обмена кадрами: ",btnStart)
                      mediaRecorder.stop()
                    }
                    else {
                      document.getElementById("btnStart").classList.remove('btn-primary');
                      document.getElementById("btnStart").classList.add('btn-secondary');
                      btnStart = !btnStart;
                      console.log("Начало обмена кадрами: ",btnStart)
                      startRecording()
                    }
                }

            </script>
            <button type="button" id="btnStart" class="btn btn-primary" onclick="clickStart()">Запустить</button>
        </div>
      </div>
    </div>

    <!--Преобладающая эмоция-->
    <div class="container text-center">  
      <p class="fw-semibold">Преобладающая эмоция:</p> <p></p>
    </div>

    <!--Создаем 3 графика для вывода вероятностей-->
    <div class="card" style= "width: 100; height: 100">
      <script>
        function draw_charts(data){//функции для отображения данных на графике
          console.log(data)
          var series_aud = chart_aud.column(data['series_aud'])
          chart_aud.draw()

          var series_vid = chart_vid.column(data['series_vid'])
          chart_vid.draw()

          var series_txt = chart_txt.column(data['series_txt'])
          chart_txt.draw()

          var series_pulse = chart_pulse.line(data['series_pulse'])
          chart_pulse.draw()
      }   
      </script>
      <div class="row">
          <div class = "col">
            <div id="chart_audio">
              <script> 
                var chart_aud = anychart.column();
                var series_aud = chart_aud.column();
                chart_aud.xAxis().title("эмоция");
                chart_aud.yAxis().title("вероятности");
                chart_aud.title("эмоция по аудио");
                chart_aud.container("chart_audio");
                chart_aud.draw();
              </script>
            </div>
          </div>

          <div class = "col">
            <div id="chart_video">
              <script> 
                var chart_vid = anychart.column();
                var series_vid = chart_vid.column();
                chart_vid.xAxis().title("эмоция");
                chart_vid.yAxis().title("вероятности");
                chart_vid.title("эмоция по видео");
                chart_vid.container("chart_video");
                chart_vid.draw();
              </script>
            </div>
          </div>

          <div class = "col">
            <div id="chart_txt">
              <script> 
                var chart_txt = anychart.column();
                var series_txt = chart_vid.column();
                chart_txt.xAxis().title("эмоция");
                chart_txt.yAxis().title("вероятности");
                chart_txt.title("эмоция по содержанию речи");
                chart_txt.container("chart_txt");
                chart_txt.draw();
              </script>
            </div>
          </div>

      </div>
    </div>
    <div class="row">
      <div id="chart_puls">
        <script>
          var chart_pulse = anychart.line()
          var series_pulse = chart_pulse.line();
          chart_pulse.container("chart_puls")
          chart_pulse.draw()
        </script>
      </div>
    </div>
  </body>    

    <!--Скрипт-->
    <script>
      async function send_audio(audio){
        const formData = new FormData();
        formData.append('audio', audio, 'audio.webm');
        var response = await fetch('/upload_audio', {
            method: 'POST',
            body:  formData //отправить аудио файл как json нельзя, json не позволяет так сделать
          });
          var resp = await response.json()
          draw_charts(resp['data'])
      }

      async function send_frame(vidio_send){
        if(btnStart){
          var canvas = document.createElement('canvas')
          canvas.width = 320
          canvas.height = 240
          var context = canvas.getContext('2d')
          context.drawImage(vidio_send, 0, 0, 320, 240)
          var response = await fetch('/upload_frame', {
            headers : {'Content-Type' : 'application/json'},
            method: 'POST',
            body:  JSON.stringify({'data': canvas.toDataURL('image/jpeg',0.99)})// здесть т.к. картинка закодирована можно ее отправить на сервер как json
          });//отправка данных на бекэнд через json работает лучше чем отправка без json
          var resp = await response.json()
          update_rectangle(resp['data'])
        }
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>